*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    font-family: Arial, Helvetica, sans-serif ,sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.box h1{
    text-align: left;
    padding: 20px;
    
}
.nav h5{
    color: dimgray;
}
.nav h5:hover{
    background-color: black;
    color: white;
    transform: translateY(-5px);
}

.Username{
    
    padding: 18px;
    border-radius: 15px;
    color: rgb(29, 119, 202);
    background-color: rgb(167, 216, 248);
}
a{
    text-decoration: none;
}
.nav{
    color: black;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    transition: 1s;
    transition-property: transform background-color color;
    gap: 20px;  
}


  /* >> body part  */
.hero{
   
    margin: 2vw;
    padding: 20px;
    display: flex;
    gap: 30px;
}
.left{
    text-align:left;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    padding: 20px;
}

button{
    background-color: rgb(29, 119, 202);
    border: 1px solid rgb(29, 119, 202);
    border-radius: 20px;
    padding: 20px;
    font-size: 3rem;
    cursor: pointer;
}
.b1{
    color: white;
    background-color: rgb(29, 119, 202);
}
.right{
    padding: 20px;
    margin: 0.5vw;
}
header{
    color: rgb(39, 60, 66);
}
.description h1{
    color: rgb(40, 163, 229);
}
.description p{
    font-size: 0.9em;
    color: darkgrey;
}